<div class="fullscreen-heights_text" style={{view.fullscreenStyle}}>
  <div class="modal_wrapper">
    <div class="modal">
      <h1 class="title" style={{view.titleStyle}}>
        <span class="from_the_heights" style={{view.fromHeightsStyle}}>
          From <em class="em">the</em> Heights<span class="ellipsis" style={{view.ellipsisStyle}}>...</span>
        </span>

        <span class="to_new_heights" style={{view.toHeightsStyle}}>
          &nbsp;to new heights
        </span>
      </h1>

      <p class="description" style={{view.toHeightsStyle}}>The Soaring Startup Circle is a summer accelerator program created by Boston College alumni that will take your business to the next level</p>
    </div>
  </div>
</div>

<div class="cinema">
  <div
    class="cityscape"
    style={{view.cityscapeStyle}}
    id="cityscape"
    >
  </div>

  <div
    class="heights {{view.isPastCinema:hidden}}"
    style={{view.heightsStyle}}
    >
  </div>

  <div class="clouds">
  </div>
</div>

<section class="section">
  <h2 class="hidden">Learn more</h2>

  <ul class="box_list">
    <li class="about">
      {{#link-to 'about'}}
        <span class="bold">What</span> is the SSC?
      {{/link-to}}
    </li>

    <li class="members">
      {{#link-to 'members'}}
        Meet the <span class="bold">members</span>
      {{/link-to}}
    </li>

    <li class="help">
      {{#link-to 'help'}}
        <span class="bold">Help</span> the teams
      {{/link-to}}
    </li>
  </ul>
</section>
